<!DOCTYPE html>


<head>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/admin/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="/admin/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">

</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <%- include('../partials/header_admin')%>
            <%- include('../partials/admin')%>
                <div class="page-wrapper">
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">Create Courses</h4>
                                <div class="ms-auto text-end">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <form class="form-horizontal" action="/courses/save" method="POST">
                                        <div class="card-body">
                                            <h4 class="card-title">Course Information</h4>
                                            <div class="form-group ">
                                                <label for="name" class="  control-label col-form-label">Course
                                                    Name</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="name" name="name"
                                                        placeholder="">
                                                    <% if (errors.name ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.name.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group  ">
                                                <label for="author" class=" control-label col-form-label">Author</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="author" name="author"
                                                        placeholder="">
                                                    <% if (errors.author ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.author.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description"
                                                    class="  control-label col-form-label">Description</label>
                                                <div class="">
                                                    <textarea type="text" class="form-control" id="description"
                                                        name="description" placeholder=""></textarea>
                                                    <% if (errors.description ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.description.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="price" class="  control-label col-form-label">Price</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="price" name="price"
                                                        placeholder="">
                                                    <% if (errors.price ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.price.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="topic" class="  control-label col-form-label">Topic</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="topic" name="topic"
                                                        placeholder="">
                                                    <% if (errors.topic ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.topic.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="request"
                                                    class="  control-label col-form-label">Request</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="request" name="request"
                                                        placeholder="">
                                                    <% if (errors.request ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.request.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group  ">
                                                <label for="videoId" class="  control-label col-form-label">Video
                                                    ID</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="videoId" name="videoId"
                                                        placeholder="">
                                                    <% if (errors.videoId ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.videoId.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group  ">
                                                <label for="level" class="  control-label col-form-label">Level</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="level" name="level"
                                                        placeholder="">
                                                    <% if (errors.level ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.level.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="tag" class="  control-label col-form-label">Tag</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="tag" name="tag"
                                                        placeholder="">
                                                    <% if (errors.tag ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.tag.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="category">Category</label>
                                                <select name="category" id="category" class="form-select">
                                                    <option selected>-- Category --</option>
                                                    <% categories.forEach(function(category) { %>
                                                        <option value="<%= category.slug %>">
                                                            <%= category.title %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                <% if (errors.category ){ %>
                                                    <div class="invalid-feedback"
                                                        style="display: block; font-size: 16px">
                                                        <%= errors.category.msg %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="border-top">
                                            <div class="card-body">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</body>

</html>