<%- include('../partials/header')%>
    <div class="main-content pb-5 ">
        <div class="row course__details">
            <section class="col-lg-8 col-md-12 col-sm-12">
                <ul class="course__details-breadcrumb">
                    <li>
                        <a href="/courses">Courses</a>
                    </li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10 course__details-icon" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                    <li>
                        <a href="/categories/<%- category.slug%>">
                            <%= category.title%>
                        </a>
                    </li>
                </ul>
                <h1 class="course__detais-name">
                    <%= course.name%>
                </h1>
                <div class="course__details-description">
                    <%= course.description%>
                </div>
                <div class="course__details-topList mb-5 pb-3">
                    <section class="row">
                        <section class="col-lg-12 col-md-12 col-sm-12 willLearn">
                            <h3>What will you learn?</h3>
                            <section class="row mt-3">
                                <section class="col col-lg-12 col-md-12 col-sm-12">
                                    <ul class="course__details-list ">
                                        <% course.topic.forEach(function(topic) { %>
                                            <li>
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                    data-icon="check"
                                                    class="svg-inline--fa fa-check fa-w-16 course__details-list-icon"
                                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                    </path>
                                                </svg>
                                                <span class="fs-6">
                                                    <%=topic%>
                                                </span>
                                            </li>
                                            <% }) %>
                                    </ul>
                                </section>
                            </section>
                        </section>
                        <section class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Request</h3>
                            <section class="row mt-3">
                                <section class="col col-lg-12 col-md-12 col-sm-12">
                                    <ul class="course__details-list course__details-list-column">
                                        <% course.request.forEach(function(request) { %>
                                            <li>
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                    data-icon="check"
                                                    class="svg-inline--fa fa-check fa-w-16 course__details-list-icon"
                                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                    </path>
                                                </svg>
                                                <span class="fs-6">
                                                    <%=request%>
                                                </span>
                                            </li>
                                            <% }) %>
                                    </ul>
                                </section>
                            </section>
                        </section>
                    </section>
                </div>

                <section class=comment>
                    <div class="container-fluid p-0">
                        <h3 class="comment-heading">
                            <%=course.comments.length%> Comments
                        </h3>
                        <%if(user) {%>
                            <div class="d-flex " style="display: block; width: 100%">
                                <%if (!user.image) { %>
                                    <div id="no-img" class="no-user-avatar comment-avatar"></div>
                                    <% } else { %>
                                        <div class="user-avatar mb-3 comment-avatar ">
                                            <img src="../images/<%=user.image%>" alt="">
                                        </div>
                                        <% } %>
                                            <% if (user) { %>
                                                <div class="comment-input" style=" width: 100%">
                                                    <form action="/courses/comment" id="commentForm" method="post">
                                                        <div class="comment-box mb-3">
                                                            <input type="hidden" value="<%=course._id%>"
                                                                name="course_id">
                                                            <input type="hidden" value="<%=user.name%>" name="username">
                                                            <input type="text" name="comment" id="comment"
                                                                class="  comment-box-input  "
                                                                placeholder="What do you think about this course?"
                                                                onfocus="onFocus()" oninput="onChange()">
                                                        </div>
                                                        <div class="btn-comment-group" id="btn-comment-group">
                                                            <button type="button" class="btn btn-comment-cancel mb-3"
                                                                onclick="onClick()">CANCEL</button>
                                                            <button type="submit" id="btn-comment"
                                                                class="btn btn-comment mb-3">COMMENT</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <% } %>

                            </div>
                            <% } %>

                    </div>
                </section>

                <section class="list-comment">
                    <div class="container-fluid p-0">
                        <% course.comments=course.comments.reverse(); %>
                            <%course.comments.forEach(function(comment) {%>
                                <div class="d-flex mb-4">
                                    <div class="comment-avatar ">
                                        <%if (!comment.image ) { %>
                                            <div id="no-img" class="no-user-avatar"></div>
                                            <% } else { %>
                                                <div class="user-avatar">
                                                    <img src="../images/<%=comment.image%>" alt="">
                                                </div>
                                                <% } %>
                                    </div>
                                    <% if (comment !="" ) { %>
                                        <div class="comment-body">
                                            <div class="comment-content">
                                                <h5 class="comment-author">
                                                    <%=comment.username%>
                                                </h5>
                                                <div class="comment-text">
                                                    <span>
                                                        <%=comment.comment%>
                                                    </span>
                                                </div>

                                                <input id="createAt" value="<%=comment.createAt%>"
                                                    type="hidden"></input>
                                            </div>
                                            <div class="comment-time">
                                                <div class="comment-createAt">
                                                    <div class="comment-option">
                                                        <%if(user) { %>

                                                            <div class="like">
                                                                <form
                                                                    action="/courses/like/<%=comment._id%>?_method=PUT"
                                                                    method="post" id="likeForm">
                                                                    <input type="hidden" value="<%=course._id%>"
                                                                        name="course_id">
                                                                    <input type="hidden" value="<%=comment._id%>"
                                                                        name="comment_id">
                                                                    <%if(comment.islike) {%>
                                                                        <%comment.islike.forEach(function(like) {%>
                                                                            <%if(like.userid==user.userID) {%>
                                                                                <input type="hidden"
                                                                                    value="<%=like.userid%>" id="likeId"
                                                                                    name="likeId">
                                                                                <% }%>
                                                                                    <%})%>
                                                                                        <%}%>
                                                                                            <button type="submit"
                                                                                                class="comment-like "
                                                                                                id="likeBtn">Like</button>

                                                                </form>
                                                            </div>
                                                            <%if(comment.islike) {%>
                                                                <%comment.islike.forEach(function(like) {%>
                                                                    <%if(like.userid==user.userID) {%>
                                                                        <input type="hidden" value="<%=like.userid%>"
                                                                            id="likeId" name="likeId">
                                                                        <script>
                                                                            var userID = "<%=user.userID%>";
                                                                            var ID = parseInt(userID, 10)
                                                                            var isLike = document.querySelectorAll("#likeId");
                                                                            var likeBtn = document.querySelectorAll("#likeBtn");
                                                                            var likeForm = document.querySelectorAll("#likeForm")
                                                                            for (var i = 0; i < likeBtn.length; i++) {
                                                                                for (var j = 0; j < isLike.length; j++) {
                                                                                    for (var k = 0; k < likeForm.length; k++) {
                                                                                        var like = parseInt(isLike[j].value, 10);
                                                                                        if (ID !== like) {
                                                                                            break;
                                                                                        }
                                                                                        else {
                                                                                            likeBtn[i].style.fontWeight = 700;
                                                                                            likeBtn[i].innerHTML = "Liked";
                                                                                            likeForm[k].action = "/courses/unlike?_method=PUT";
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        </script>
                                                                        <% }%>
                                                                            <%})%>
                                                                                <%}%>
                                                                                    <p class="comment-reply"
                                                                                        data-commentbox="<%=comment._id%>">
                                                                                        Reply
                                                                                    </p>
                                                                                    <% } %>
                                                                                        <p class="comment-time"
                                                                                            id="time-comment"></p>
                                                                                        <%if(user) {%>
                                                                                            <div class="more__option ">
                                                                                                <p class="edit__comment"
                                                                                                    data-id="<%=comment.commentId%>">
                                                                                                    Edit</p>
                                                                                                <input type="hidden"
                                                                                                    value="<%=comment.userId%>"
                                                                                                    id="userId">
                                                                                                <form
                                                                                                    action="/courses/comment/<%=comment._id%>?_method=PUT"
                                                                                                    method="post">
                                                                                                    <input type="hidden"
                                                                                                        name="course_id"
                                                                                                        value="<%=course._id%>">
                                                                                                    <input type="hidden"
                                                                                                        name="comment_id"
                                                                                                        value="<%=comment._id%>">
                                                                                                    <button
                                                                                                        type="submit"
                                                                                                        class="delete__comment">Delete</button>
                                                                                                </form>
                                                                                            </div>
                                                                                            <script>
                                                                                                var userId = "<%=user._id%>";
                                                                                                var commentUserId = document.querySelectorAll('#userId');

                                                                                                var moreOptions = document.querySelectorAll('.more__option');
                                                                                                for (var i = 0; i < moreOptions.length; i++) {
                                                                                                    if (userId !== commentUserId[i].value) {
                                                                                                        moreOptions[i].style.display = "none";
                                                                                                    }
                                                                                                }
                                                                                            </script>
                                                                                            <% } %>

                                                    </div>
                                                    <% if (user) {%>
                                                        <div class="comment-edit-box mt-3"
                                                            style="display: none !important;"
                                                            id="<%=comment.commentId%>">
                                                            <div class="comment-avatar mb-3">
                                                                <%if (!user.image ) { %>
                                                                    <div id="no-img" class="no-user-avatar">
                                                                    </div>
                                                                    <% } else { %>
                                                                        <div class="user-avatar ">
                                                                            <img src="../images/<%=user.image%>" alt="">
                                                                        </div>
                                                                        <% } %>
                                                            </div>
                                                            <div class="col-lg-8" style=" width: 100%">
                                                                <form action="/courses/comment/edit?_method=PUT"
                                                                    id="editForm" method="post">
                                                                    <div class="comment-box mb-3">
                                                                        <input type="hidden" value="<%=course._id%>"
                                                                            name="course_id">
                                                                        <input type="hidden" value="<%=comment._id%>"
                                                                            name="comment_id">

                                                                        <input type="text" name="newcomment"
                                                                            id="newcomment" value="<%=comment.comment%>"
                                                                            class="comment-box-input" placeholder="">
                                                                    </div>
                                                                    <div class="btn-reply-group" id="btn-reply-group">
                                                                        <button type="button"
                                                                            class="btn btn-reply-cancel btn-edit-cancel "
                                                                            id="btn-edit-cancel">Cancel</button>
                                                                        <button type="submit" id="btn-edit"
                                                                            class="btn btn-reply">Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <%if(user) { %>
                                                                <div class="comment-reply-box mt-3"
                                                                    id="<%=comment._id%>"
                                                                    style="display:none !important;">
                                                                    <div class="comment-avatar mb-3">
                                                                        <%if (!user.image ) { %>
                                                                            <div id="no-img" class="no-user-avatar">
                                                                            </div>
                                                                            <% } else { %>
                                                                                <div class="user-avatar ">
                                                                                    <img src="../images/<%=user.image%>"
                                                                                        alt="">
                                                                                </div>
                                                                                <% } %>
                                                                    </div>
                                                                    <div class="col-lg-8" style=" width: 100%">
                                                                        <form action="/courses/comment/reply"
                                                                            id="replyForm" method="post">
                                                                            <div class="comment-box mb-3">
                                                                                <input type="hidden"
                                                                                    value="<%=course._id%>"
                                                                                    name="course_id">
                                                                                <input type="hidden"
                                                                                    value="<%=comment._id%>"
                                                                                    name="comment_id">

                                                                                <input type="text" name="reply"
                                                                                    id="reply" class="comment-box-input"
                                                                                    placeholder="">
                                                                            </div>
                                                                            <div class="btn-reply-group"
                                                                                id="btn-reply-group">
                                                                                <button type="button"
                                                                                    class="btn btn-reply-cancel"
                                                                                    id="btn-reply-cancel">Cancel</button>
                                                                                <button type="submit" id="btn-reply"
                                                                                    class="btn btn-reply">Reply</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                </div>
                                            </div>


                                            <div class="reply-box">
                                                <% if(comment.replies) { %>
                                                    <% comment.replies.forEach(function(reply) {%>
                                                        <div class="d-flex mt-4" id="replyBox">
                                                            <div class="comment-avatar ">
                                                                <%if (!reply.image ) { %>
                                                                    <div id="no-img" class="no-user-avatar">
                                                                    </div>
                                                                    <% } else { %>
                                                                        <div class="user-avatar">
                                                                            <img src="../images/<%=reply.image%>"
                                                                                alt="">
                                                                        </div>
                                                                        <% } %>
                                                            </div>
                                                            <div class="reply-body">
                                                                <div class="comment-content">
                                                                    <h5 class="comment-author">
                                                                        <%=reply.username%>
                                                                    </h5>
                                                                    <div class="comment-text">
                                                                        <span>
                                                                            <%=reply.reply%>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <div class="comment-time">
                                                                    <div class="comment-createAt">
                                                                        <div
                                                                            class="comment-option d-flex align-items-center">
                                                                            <%if(user) { %>
                                                                                <a href class="comment-like">Like</a>
                                                                                <% } %>
                                                                                    <input type="hidden"
                                                                                        id="reply-create-at"
                                                                                        value="<%=reply.createAt%>">
                                                                                    <p class="reply-time ml-2"
                                                                                        id="time-reply">
                                                                                    </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <%})%>
                                                            <% } %>
                                            </div>
                                        </div>
                                        <% } %>

                                </div>
                                <% }) %>
                    </div>
                </section>
            </section>
            <section class="col-lg-4 col-md-12 col-sm-12 d-lg-block">
                <div class="course__details-purchase">
                    <div class="course__details-preview">
                        <img src="<%= course.image %>" class="card-img" alt="">
                    </div>
                    <h5 id="free" style="display:block">
                        <%=course.price%> Coin
                    </h5>
                    <input type="hidden" value="<%=course.price%>" id="coursePrice">
                    <p class="my-3" id="registed" style="display:none">You have signed up for this course !</p>
                    <p class="m-2 text-center" id="error" style="display:none; color:red;">Sorry! Your coin is not
                        enough. Please
                        do
                        exercise to get more coin.</p>

                    <a href="/lessons/<%- course.tag %>" id="btn-register" class="course__details-learnNow">Register
                        Now</a>
                    <input type="hidden" value="<%=course.tag%>">
                    <% if(user) { %>
                        <script>
                            var userCoin = "<%=user.coin%>"
                            var parseUserCoin = parseInt(userCoin, 10);
                            var coursePrice = document.getElementById('coursePrice').value;
                            var parseCoursePrice = parseInt(coursePrice, 10);
                            var userLearning = "<%-user.learning%>".split(',')
                            var course_tag = "<%=course.tag%>"
                            var btn = document.getElementById("btn-register")
                            var info = document.getElementById("free")
                            var registed = document.getElementById("registed")
                            if (userLearning.includes(course_tag)) {
                                info.style.display = "none";
                                registed.style.display = "block";
                                registed.style.fontSize = "16px";
                                btn.innerHTML = "CONTINUTE";
                            }
                            if (parseUserCoin < parseCoursePrice) {
                                btn.style.pointerEvents = "none";
                                btn.disabled = true;
                                info.style.display = "none";
                                btn.style.backgroundColor = "#bfbcbc";
                                error.style.display = "block";
                            }

                        </script>
                        <% } %>
                            <ul>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                        data-icon="tachometer-alt"
                                        class="svg-inline--fa fa-tachometer-alt fa-w-18 course__details-purchaseIcon"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z">
                                        </path>
                                    </svg>
                                    <span>
                                        <%= course.level %>
                                    </span>
                                </li>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="film"
                                        class="svg-inline--fa fa-film fa-w-16 course__details-purchaseIcon" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M488 64h-8v20c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12V64H96v20c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12V64h-8C10.7 64 0 74.7 0 88v336c0 13.3 10.7 24 24 24h8v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h320v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h8c13.3 0 24-10.7 24-24V88c0-13.3-10.7-24-24-24zM96 372c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm272 208c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm0-168c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm112 152c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z">
                                        </path>
                                    </svg>
                                    <span>
                                        Total <%=num_lesson%> lesson
                                    </span>
                                </li>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="battery-full"
                                        class="svg-inline--fa fa-battery-full fa-w-20 course__details-purchaseIcon"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                        <path fill="currentColor"
                                            d="M544 160v64h32v64h-32v64H64V160h480m16-64H48c-26.51 0-48 21.49-48 48v224c0 26.51 21.49 48 48 48h512c26.51 0 48-21.49 48-48v-16h8c13.255 0 24-10.745 24-24V184c0-13.255-10.745-24-24-24h-8v-16c0-26.51-21.49-48-48-48zm-48 96H96v128h416V192z">
                                        </path>
                                    </svg>
                                    <span>Study every time, everywhere</span>
                                </li>
                            </ul>
                </div>
            </section>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <script>

        var commentForm = document.getElementById('commentForm')
        var comment = document.getElementById('comment');
        var btnGroup = document.getElementById('btn-comment-group')
        var btnComment = document.getElementById('btn-comment')
        function onChange() {
            btnComment.classList.remove('btn-comment')
            btnComment.classList.add('btn-comment-active');
        }
        function onFocus() {
            btnGroup.style.display = "block";
        }
        function onClick() {
            commentForm.reset();
            btnGroup.style.display = "none"
            btnComment.classList.add('btn-comment')
            btnComment.classList.remove('btn-comment-active');
        }
        var createAt = document.querySelectorAll('#createAt');
        var time_comment = document.querySelectorAll('#time-comment');
        for (var i = 0; i < time_comment.length; i++) {
            time_comment[i].innerHTML = moment(createAt[i].value).fromNow();
        };
        var replyCreateAt = document.querySelectorAll('#reply-create-at');
        var reply_time = document.querySelectorAll('#time-reply');

        for (var i = 0; i < reply_time.length; i++) {
            reply_time[i].innerHTML = moment(replyCreateAt[i].value).fromNow();
        };
        $(function () {
            $('.comment-reply').on('click', function () {
                $('.comment-reply-box ').hide();
                var commentboxId = $(this).attr('data-commentbox');
                $('#' + commentboxId).toggle();
            });
            $('.btn-reply-cancel').on('click', function () {
                $('.comment-reply-box ').hide();
                $('#replyForm').trigger("reset");
            })
        });
        $(function () {
            $('.edit__comment').on('click', function () {
                $('.comment-edit-box ').hide();
                var editboxId = $(this).attr('data-id');
                $('#' + editboxId).toggle();

            });

            $('.btn-edit-cancel').on('click', function () {
                $('.comment-edit-box').hide();
                $('#editForm').trigger("reset");
            })

        });

    </script>
    <%- include('../partials/footer')%>