<%- include('../partials/header')%>
    <div class="container main-content">
        <ul class="course__details-breadcrumb pt-4">
            <li>
                <a href="/dashboard">Home</a>
            </li>

            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                class="svg-inline--fa fa-chevron-right fa-w-10 course__details-icon" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                </path>
            </svg>
            <li>
                <a href="/users/information">
                    My infomation
                </a>
            </li>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                class="svg-inline--fa fa-chevron-right fa-w-10 course__details-icon" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                </path>
            </svg>
            <li>
                <a href="/users/change-password">
                    Change password
                </a>
            </li>
        </ul>

    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 ">
                <div class="user__profile-left">
                    <ul class="user__profile-list-function">
                        <li><a href="/users/information" class="user__profile-active">Information & Contact</a></li>
                        <li><a href="/users/change-username"> Change user name</a></li>
                        <li><a href="/users/change-password"> Change password</a></li>
                    </ul>
                </div>
            </div>

            <div class=" col-lg-9 col-md-12 col-xs-12 px-0">
                <div class="user__profile-right">
                    <h2 class="user__profile-title">Change Password</h2>
                    <p>This is the password used to login. Set a secure password using at least 8 characters, including
                        lowercase and uppercase letters, numbers and special characters.</p>
                    <div class="row">
                        <div class="col col-lg-12 " style="height:750px;">
                            <form action="/users/change-password" method="post" enctype="multipart/form">
                                <div class="row">
                                    <div class="my-3 col-lg-12 col-md-12 col-sm-12">
                                        <label for="oldpassword" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="oldpassword" placeholder=""
                                            name="oldpassword">
                                        <% if (errors.oldpassword ){ %>
                                            <div class="invalid-feedback" style="display: block; font-size: 16px">
                                                <%= errors.oldpassword.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="my-3 col-lg-6 col-md-12 col-sm-12">
                                        <label for="newpassword" class="form-label">New Password</label>
                                        <input type="password" class="form-control" id="newpassword" placeholder=""
                                            name="newpassword">
                                        <% if (errors.newpassword ){ %>
                                            <div class="invalid-feedback" style="display: block; font-size: 16px">
                                                <%= errors.newpassword.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="my-3 col-lg-6 col-md-12 col-sm-12">
                                        <label for="passwordconfirm" class="form-label">Confirm New Password</label>
                                        <input type="password" class="form-control" id="passwordconfirm" placeholder=""
                                            name="passwordconfirm">
                                        <% if (errors.passwordconfirm ){ %>
                                            <div class="invalid-feedback" style="display: block; font-size: 16px">
                                                <%= errors.passwordconfirm.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ml-1">
                                            <button type="submit" class="btn btn-save">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer')%>