<!DOCTYPE html>


<head>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/admin/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="/admin/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <%- include('../partials/header_admin')%>
            <%- include('../partials/admin')%>
                <div class="page-wrapper">
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">Create Lessons</h4>
                                <div class="ms-auto text-end">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="">Lessons</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <form class="form-horizontal" method="post" action="/lessons/save">
                                        <div class="card-body">
                                            <h4 class="card-title">Lesson Info</h4>
                                            <div class="form-group">
                                                <label for="name" class="  control-label col-form-label">Lesson
                                                    Name</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="name" name="name"
                                                        placeholder="">
                                                    <% if (errors.name ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.name.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group  ">
                                                <label for="videoId" class="  control-label col-form-label">Video
                                                    ID</label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="videoId" name="videoId"
                                                        placeholder="">
                                                    <% if (errors.videoId ){ %>
                                                        <div class="invalid-feedback"
                                                            style="display: block; font-size: 16px">
                                                            <%= errors.videoId.msg %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tag">Tag</label>
                                                <select name="tag" id="tag" class="form-select">
                                                    <option select>--Tag--</option>
                                                    <% tag.forEach(function(tag) { %>
                                                        <option value="<%= tag.tag%>">
                                                            <%= tag.tag %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                <% if (errors.tag ){ %>
                                                    <div class="invalid-feedback"
                                                        style="display: block; font-size: 16px">
                                                        <%= errors.tag.msg %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="border-top">
                                            <div class="card-body">
                                                <button type="submit" class="btn btn-primary">Add Lesson</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</body>

</html>