<div class="container-fluid ">
    <%- include('../partials/messages')%>
        <div class="row">
            <div class=" lessons__heading">
                <a href="/courses"><i class="fas fa-chevron-left"></i></a>
                <a href="/" class="logo logo-lesson"></a>
                <p class="lessons__heading-title">
                    Course <%= tag %> : <%= name %>
                </p>
            </div>
            <div class=" lessons__body col col-xl-8 col-md-12">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe class="embed-responsive-item" allowfullscreen
                        src="https://www.youtube.com/embed/<%= videoID %>"></iframe>
                </div>
            </div>
            <div class="col-xl-8 col-md-12 px-0">
                <div class="lesson__overview">
                    <div class="lesson__overview-header">
                        <div class="tab">

                            <button class="tabslink" id="Overview"
                                onclick="openTab(event, 'overview')">Overview</button>
                            <button class="tabslink" onclick="openTab(event, 'note')">Notes</button>
                            <button class="tabslink" onclick="openTab(event, 'relate')">Question</button>
                        </div>
                        <div class="tabcontent" id="content">
                        </div>
                        <div class="tabcontent" id="overview">
                            <div class="overview__body">
                                <div class="comment">
                                    <div class="container">
                                        <h3 class="comment-heading">
                                            <%=lesson.comments.length%> Questions
                                        </h3>
                                        <%if(user) { %>
                                            <div class="d-flex " style="display: block; width: 100%">
                                                <%if (!user.image) { %>
                                                    <div id="no-img" class="no-user-avatar comment-avatar"></div>
                                                    <% } else { %>
                                                        <div class="user-avatar mb-3 comment-avatar ">
                                                            <img src="../../images/<%=user.image%>" alt="">
                                                        </div>
                                                        <% } %>
                                                            <% if (user) { %>
                                                                <div class="comment-input" style=" width: 100%">
                                                                    <form action="/lessons/comment" id="commentForm"
                                                                        method="post">
                                                                        <div class="comment-box mb-3">
                                                                            <input type="hidden" value="<%=lesson._id%>"
                                                                                name="lesson_id">

                                                                            <input type="text" name="comment"
                                                                                id="comment"
                                                                                class="  comment-box-input  "
                                                                                placeholder="What do you think about this course?"
                                                                                onfocus="onFocus()"
                                                                                oninput="onChange()">
                                                                        </div>
                                                                        <div class="btn-comment-group"
                                                                            id="btn-comment-group">
                                                                            <button type="button"
                                                                                class="btn btn-comment-cancel"
                                                                                onclick="onClick()">CANCEL</button>
                                                                            <button type="submit" id="btn-comment"
                                                                                class="btn btn-comment">COMMENT</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <% } %>

                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="list-comment">
                                    <div class="container">
                                        <%lesson.comments=lesson.comments.reverse();%>
                                            <%lesson.comments.forEach(function(comment) {%>
                                                <div class="d-flex mb-4">
                                                    <div class="comment-avatar ">
                                                        <%if (!comment.image ) { %>
                                                            <div id="no-img" class="no-user-avatar"></div>
                                                            <% } else { %>
                                                                <div class="user-avatar">
                                                                    <img src="../../images/<%=comment.image%>" alt="">
                                                                </div>
                                                                <% } %>
                                                    </div>
                                                    <% if (comment !="" ) { %>
                                                        <div class="comment-body">
                                                            <div class="comment-content">
                                                                <h5 class="comment-author">
                                                                    <%=comment.username%>
                                                                </h5>
                                                                <div class="comment-text">
                                                                    <span>
                                                                        <%=comment.comment%>
                                                                    </span>
                                                                </div>

                                                                <input id="createAt" value="<%=comment.createAt%>"
                                                                    type="hidden"></input>
                                                            </div>
                                                            <div class="comment-time">
                                                                <div class="comment-createAt">
                                                                    <div class="comment-option">
                                                                        <%if(user) { %>
                                                                            <a href class="comment-like">Like</a>
                                                                            <p class="comment-reply"
                                                                                data-commentbox="<%=comment._id%>">
                                                                                Reply
                                                                            </p>
                                                                            <% } %>
                                                                                <p class="comment-time"
                                                                                    id="time-comment">
                                                                                </p>
                                                                                <%if(user) {%>
                                                                                    <div class="more__option ">
                                                                                        <p class="edit__comment"
                                                                                            data-edit="<%=comment.commentId%>">
                                                                                            Edit</p>
                                                                                        <input type="hidden"
                                                                                            value="<%=comment.userId%>"
                                                                                            id="userId">
                                                                                        <form
                                                                                            action="/lessons/comment/<%=comment._id%>?_method=PUT"
                                                                                            method="post">
                                                                                            <input type="hidden"
                                                                                                name="lesson_id"
                                                                                                value="<%=lesson._id%>">
                                                                                            <input type="hidden"
                                                                                                name="comment_id"
                                                                                                value="<%=comment._id%>">
                                                                                            <button type="submit"
                                                                                                class="delete__comment">Delete</button>
                                                                                        </form>
                                                                                    </div>
                                                                                    <script>
                                                                                        var userId = "<%=user._id%>";
                                                                                        var commentUserId = document.querySelectorAll('#userId');

                                                                                        var moreOptions = document.querySelectorAll('.more__option');
                                                                                        for (var i = 0; i < moreOptions.length; i++) {
                                                                                            if (userId !== commentUserId[i].value) {
                                                                                                moreOptions[i].style.display = "none";
                                                                                            }
                                                                                        }
                                                                                    </script>
                                                                                    <% } %>

                                                                    </div>
                                                                    <% if (user) {%>
                                                                        <div class="comment-edit-box mt-3"
                                                                            style="display: none !important;"
                                                                            id="<%=comment.commentId%>">
                                                                            <div class="comment-avatar mb-3">
                                                                                <%if (!user.image ) { %>
                                                                                    <div id="no-img"
                                                                                        class="no-user-avatar">
                                                                                    </div>
                                                                                    <% } else { %>
                                                                                        <div class="user-avatar ">
                                                                                            <img src="../../images/<%=user.image%>"
                                                                                                alt="">
                                                                                        </div>
                                                                                        <% } %>
                                                                            </div>
                                                                            <div class="col-lg-8" style=" width: 100%">
                                                                                <form
                                                                                    action="/lessons/comment/edit?_method=PUT"
                                                                                    id="editForm" method="post">
                                                                                    <div class="comment-box mb-3">
                                                                                        <input type="hidden"
                                                                                            value="<%=lesson._id%>"
                                                                                            name="lesson_id">
                                                                                        <input type="hidden"
                                                                                            value="<%=comment._id%>"
                                                                                            name="comment_id">

                                                                                        <input type="text"
                                                                                            name="newcomment"
                                                                                            id="newcomment"
                                                                                            value="<%=comment.comment%>"
                                                                                            class="comment-box-input"
                                                                                            placeholder="">
                                                                                    </div>
                                                                                    <div class="btn-reply-group"
                                                                                        id="btn-reply-group">
                                                                                        <button type="button"
                                                                                            class="btn btn-reply-cancel "
                                                                                            id="btn-edit-cancel">Cancel</button>
                                                                                        <button type="submit"
                                                                                            id="btn-edit"
                                                                                            class="btn btn-reply">Edit</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                            <%if(user) { %>
                                                                                <div class="comment-reply-box mt-3"
                                                                                    id="<%=comment._id%>"
                                                                                    style="display:none !important;">
                                                                                    <div class="comment-avatar mb-3">
                                                                                        <%if (!user.image ) { %>
                                                                                            <div id="no-img"
                                                                                                class="no-user-avatar">
                                                                                            </div>
                                                                                            <% } else { %>
                                                                                                <div
                                                                                                    class="user-avatar ">
                                                                                                    <img src="../../images/<%=user.image%>"
                                                                                                        alt="">
                                                                                                </div>
                                                                                                <% } %>
                                                                                    </div>
                                                                                    <div class="col-lg-8"
                                                                                        style=" width: 100%">
                                                                                        <form
                                                                                            action="/lessons/comment/reply"
                                                                                            id="replyForm"
                                                                                            method="post">
                                                                                            <div
                                                                                                class="comment-box mb-3">
                                                                                                <input type="hidden"
                                                                                                    value="<%=lesson._id%>"
                                                                                                    name="lesson_id">
                                                                                                <input type="hidden"
                                                                                                    value="<%=comment._id%>"
                                                                                                    name="comment_id">

                                                                                                <input type="text"
                                                                                                    name="reply"
                                                                                                    id="reply"
                                                                                                    class="comment-box-input"
                                                                                                    placeholder="">
                                                                                            </div>
                                                                                            <div class="btn-reply-group"
                                                                                                id="btn-reply-group">
                                                                                                <button type="button"
                                                                                                    class="btn btn-reply-cancel"
                                                                                                    id="btn-reply-cancel">Cancel</button>
                                                                                                <button type="submit"
                                                                                                    id="btn-reply"
                                                                                                    class="btn btn-reply">Reply</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                                <% } %>
                                                                </div>
                                                            </div>


                                                            <div class="reply-box">
                                                                <% if(comment.replies) { %>
                                                                    <% comment.replies.forEach(function(reply) {%>
                                                                        <div class="d-flex mt-4" id="replyBox">
                                                                            <div class="comment-avatar ">
                                                                                <%if (!reply.image ) { %>
                                                                                    <div id="no-img"
                                                                                        class="no-user-avatar">
                                                                                    </div>
                                                                                    <% } else { %>
                                                                                        <div class="user-avatar">
                                                                                            <img src="../../images/<%=reply.image%>"
                                                                                                alt="">
                                                                                        </div>
                                                                                        <% } %>
                                                                            </div>
                                                                            <div class="reply-body">
                                                                                <div class="comment-content">
                                                                                    <h5 class="comment-author">
                                                                                        <%=reply.username%>
                                                                                    </h5>
                                                                                    <div class="comment-text">
                                                                                        <span>
                                                                                            <%=reply.reply%>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="comment-time">
                                                                                    <div class="comment-createAt">
                                                                                        <div
                                                                                            class="comment-option d-flex align-items-center">
                                                                                            <%if(user) { %>
                                                                                                <a href
                                                                                                    class="comment-like">Like</a>
                                                                                                <% } %>
                                                                                                    <input type="hidden"
                                                                                                        id="reply-create-at"
                                                                                                        value="<%=reply.createAt%>">
                                                                                                    <p class="reply-time ml-2"
                                                                                                        id="time-reply">
                                                                                                    </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <%})%>
                                                                            <% } %>
                                                            </div>
                                                        </div>
                                                        <% } %>

                                                </div>
                                                <% }) %>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabcontent" id="note">
                            <div class="note-body">
                                <p>This functionality is still in development</p>
                            </div>
                        </div>
                        <div class="tabcontent p-4" id="relate">

                            <form action="/lessons/do-excercise" method="post">
                                <div class="container p-5 question">
                                    <div class="row">
                                        <h5 class="mb-4">
                                            Question: <%=quiz.question%>
                                        </h5>
                                        <div class="radiocontainer">
                                            <input type="radio" value="<%=quiz.answer1%>" name="quiz">
                                            <%=quiz.answer1%>
                                        </div>
                                        <div class="radiocontainer">
                                            <input type="radio" value="<%=quiz.answer2%>" name="quiz">
                                            <%=quiz.answer2%>
                                        </div>
                                        <div class="radiocontainer">
                                            <input type="radio" value="<%=quiz.answer3%>" name="quiz">
                                            <%=quiz.answer3%>
                                        </div>
                                        <div class="radiocontainer">
                                            <input type="radio" value="<%=quiz.answer4%>" name="quiz">
                                            <%=quiz.answer4%>
                                        </div>
                                        <input type="hidden" value="<%=quiz.result%>" name="result">
                                        <button type="submit" class="btn btn-primary">Answer</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
            <div class=" col col-lg-4 d-xl-block d-none table__content content">
                <div class="list">
                    <div class="list__heading">
                        <h1 class="m-0">
                            <%= course.name%>
                        </h1>
                    </div>
                    <div class="list__body">
                        <% lessons.forEach(function(lesson,index) { %>
                            <div>
                                <div class="list__body-details">

                                    <img class="card-img-top mr-2" style="width: 80px;" src="<%= lesson.image %>"
                                        alt="">
                                    <a href="/lessons/<%- lesson.tag %>/<%- lesson.slug %>">Bài <%= index + 1 %>: <%=
                                                lesson.name %></a>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
<script>

    var commentForm = document.getElementById('commentForm')
    var comment = document.getElementById('comment');
    var btnGroup = document.getElementById('btn-comment-group')
    var btnComment = document.getElementById('btn-comment')
    function onChange() {
        btnComment.classList.remove('btn-comment')
        btnComment.classList.add('btn-comment-active');
    }
    function onFocus() {
        btnGroup.style.display = "block";
    }
    function onClick() {
        commentForm.reset();
        btnGroup.style.display = "none"
        btnComment.classList.add('btn-comment')
        btnComment.classList.remove('btn-comment-active');
    }
    var createAt = document.querySelectorAll('#createAt');
    var time_comment = document.querySelectorAll('#time-comment');
    for (var i = 0; i < time_comment.length; i++) {
        time_comment[i].innerHTML = moment(createAt[i].value).fromNow();
    };
    var replyCreateAt = document.querySelectorAll('#reply-create-at');
    var reply_time = document.querySelectorAll('#time-reply');

    for (var i = 0; i < reply_time.length; i++) {
        reply_time[i].innerHTML = moment(replyCreateAt[i].value).fromNow();
    };
    $(function () {
        $('.comment-reply').on('click', function () {
            $('.comment-reply-box ').hide();
            var commentboxId = $(this).attr('data-commentbox');
            $('#' + commentboxId).toggle();
            $('.comment-edit-box ').hide();


        });

        $('#btn-reply-cancel').on('click', function () {
            $('.comment-reply-box ').hide();
            $('#replyForm').trigger("reset");
        })

    });
    $(function () {
        $('.edit__comment').on('click', function () {
            $('.comment-edit-box ').hide();
            var editboxId = $(this).attr('data-edit');
            $('#' + editboxId).toggle();
            $('.comment-reply-box ').hide();

        });

        $('.btn-reply-cancel').on('click', function () {
            $('.comment-edit-box').hide();
            $('#editForm').trigger("reset");
        })

    });
    function openTab(evt, tab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tabslink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("Overview").click();

</script>