<!DOCTYPE html>


<head>

    <!-- Favicon icon -->

    <!-- Custom CSS -->
    <link href="/admin/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="/admin/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">

</head>

<body>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <%- include('../partials/header_admin')%>
            <%- include('../partials/admin')%>
                <div class="page-wrapper">
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">Create Category</h4>
                                <div class="ms-auto text-end">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">Category</li>
                                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <form class="form-horizontal" method="post"
                                        action="/categories/<%- category._id%>?_method=PUT" novalidate>
                                        <div class="card-body">
                                            <h4 class="card-title">Update Category</h4>
                                            <div class="form-group ">
                                                <label for="name" class="control-label col-form-label">Category
                                                    Name</label>
                                                <div class=""></div>
                                                <input type="text" class="form-control" id="title" name="title"
                                                    placeholder="Enter Categories Title" required
                                                    value="<%= category.title%>">
                                                <% if (errors.title ){ %>
                                                    <div class="invalid-feedback"
                                                        style="display: block; font-size: 16px">
                                                        <%= errors.title.msg %>
                                                    </div>
                                                    <% } %>
                                            </div>

                                            <div class="form-group">
                                                <label for="type" class="  control-label col-form-label">Type</label>
                                                <select name="type" id="type" class="form-select">
                                                    <option selected>--Choose Type--</option>
                                                    <option selected>
                                                        <%= category.type%>
                                                    </option>
                                                    <option value="front-end">Front-end</option>
                                                    <option value="back-end">Back-end</option>
                                                    <option value="android">Android</option>
                                                    <option value="ios">IOS</option>
                                                </select>
                                                <% if (errors.type ){ %>
                                                    <div class="invalid-feedback"
                                                        style="display: block; font-size: 16px">
                                                        <%= errors.type.msg %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>

</body>

</html>